.button {
  border: solid #1fff9a 2px;
  border-radius: 3px;
  padding: 5px 20px;
  text-decoration: none;
  color: white;
}

.button:hover {
  background: rgba(104, 232, 153, 0.1);
}

#loading-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: shrink-and-fade .5s forwards;
  animation-delay: 1.9s;
}

#loading-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: solid white 3px;
  border-radius: 10px;
}

.loading-ring {
  position: absolute;
  width: 150px;
  height: 150px;
  border: solid rgba(104, 232, 153, 0.7) 3px;
  border-radius: 100%;
  z-index: 10;
  animation: breathe 3s forwards;
  animation-delay: .3s;
  transform: scale(0.4);
}

#ring-tl {
  top: 0;
  left: 0;
}

#ring-tr {
  top: 0;
  right: 0;
}

#ring-bl {
  bottom: 0;
  left: 0;
}

#ring-br {
  bottom: 0;
  right: 0;
}

#loading-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #1fff9a 3px;
  border-radius: 100%;
  background-color: #13151a;
  font-size: 50px;
  width: 150px;
  height: 150px;
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#loading-logo > span {
  animation: change-color 2s forwards;
}

@keyframes change-color {
  50% {
    color: white;
  }
  100% {
    color: #1fff9a;
  }
}

@keyframes breathe {
  0% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.4);
  }
}

@keyframes shrink-and-fade {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}

header {
  display: flex;
  position: fixed;
  top: 0;
  padding: 25px;
  width: 100%;
  background-color: rgba(19, 21, 26, 0.6);
  z-index: 100;
  transition: top .5s ease-in-out, padding .3s ease-in-out;
}

.hide-header {
  top: -100px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  min-height: 36px;
  border: solid #1fff9a 2px;
  border-radius: 100%;
  font-size: 1.2rem;
  color: white;
}

.header-logo:hover {
  background-color: rgba(104, 232, 153, 0.1);
}

@media only screen and (min-width: 768px) {
  header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1080px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: flex;
  align-items: center;
  margin-left: auto;
  z-index: 100;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #1fff9a;
  height: 2px;
  width: 30px;
  border-radius: 2px;
  position: relative;
  text-align: right;
  transition: all .3s;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
  right: 0;
  transition: all .3s;
}

.nav-toggle-label span::before {
  bottom: 10px;
  width: 36px;
}

.nav-toggle-label span::after {
  top: 10px;
  width: 24px;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  transform: rotate(45deg);
  width: 36px;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  bottom: 0;
  transform: rotate(90deg);
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  top: 0;
  width: 36px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #13151a;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 100ms ease-in-out, background-color 200ms ease-in-out;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  margin-bottom: 40px;
}

nav a {
  position: relative;
  font-size: .9rem;
  text-decoration: none;
  color: white;
  opacity: 0;
}

.nav-link:hover {
  color: #1fff9a;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #1fff9a;
  transition: width 150ms ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  background-color: #242831;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity .1s ease-in-out .15s;
}

@media only screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }
  nav {
    all: unset;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  nav li {
    display: inline;
    margin-bottom: 0px;
    margin-left: 30px;
  }
  nav a {
    opacity: 1;
  }
}

section {
  max-width: 1200px;
  margin: 100px auto;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.section-header h2 {
  color: #1fff9a;
  font-size: 2rem;
  font-weight: 700;
}

.section-header div {
  border-top: solid #9da29e 1px;
  opacity: .3;
  flex: 1;
  margin-left: 20px;
}

.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.intro h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: clamp(1.1rem, 3vw, 3.5rem);
  text-align: center;
}

.intro span {
  color: #1fff9a;
  font-weight: 900;
}

.intro a {
  margin-top: 20px;
  font-size: clamp(0.85rem, 1.4vw, 1.2rem);
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.about-content > * {
  display: flex;
  flex-direction: column;
}

.about-details {
  flex: 1 0 66%;
  padding-right: 40px;
}

.about-details p {
  color: white;
  font-size: 1.2rem;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  font-weight: 200;
  padding-top: 20px;
}

.about-details h3 {
  font-size: 1.3rem;
  color: #1fff9a;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.skill-list span {
  background: #9da29e;
  padding: 5px 20px;
  border-radius: 3px;
  color: white;
  font-size: .8rem;
  margin: 5px 5px 0px 0px;
}

.about-image-outer {
  flex-basis: 30%;
  margin: auto;
  padding: 10px;
}

.about-image-inner {
  position: relative;
  border-radius: 100%;
}

.about-image-inner::before,
.about-image-inner::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
}

.about-image-inner:hover::before {
  transform: scale(1.005);
}

.about-image-inner::before {
  top: -10px;
  left: 4px;
  border: solid #1fff9a 4px;
}

.about-image-inner::after {
  top: -14px;
  left: 15px;
  border: solid rgba(104, 232, 153, 0.1) 3px;
}

.about-image-inner img {
  position: relative;
  max-width: 100%;
  min-width: 230px;
  border: solid #1fff9a 2px;
  border-radius: 100%;
  z-index: 10;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #13151a;
  font-family: 'Montserrat', sans-serif;
}

.blur {
  filter: blur(0.5rem);
}

#content {
  padding-left: 25px;
  padding-right: 25px;
}

#content-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.space {
  height: 1400px;
}

@media only screen and (min-width: 480px) {
  #content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 768px) {
  #content {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 1080px) {
  #content {
    padding-left: 150px;
    padding-right: 150px;
  }
}
