
$lighter-blue: rgb(36, 40, 49);
$dark-blue: rgb(19, 21, 26);
$dark-blue-transparent: rgba(19, 21, 26, .6);
$green: rgb(31, 255, 154);
$green-transparent: rgba(31, 255, 154, .5);
$green-extra-transparent: rgba(31, 255, 154, .3);

// $green-transparent: rgba(104, 232, 153, .7);
// $green-extra-transparent: rgba(104, 232, 153, .1);
$white: rgb(255, 255, 255);
$gray: rgb(157, 162, 158);