
header {
	display: flex;
	position: fixed;
	top: 0;
    padding: 25px;
	width: 100%;
	background-color: $dark-blue-transparent;
	z-index: 100;
	transition: top .5s ease-in-out, padding .3s ease-in-out;

}

.hide-header {
	top: -100px;
}

.header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 36px;
	min-height: 36px;
	border: solid $green 2px;
	border-radius: 100%;
	font-size: 1.2rem;
	color: $white;
}

.header-logo:hover {
	background-color: $green-extra-transparent;
}


@media only screen and (min-width: 768px) {
	
	header {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media only screen and (min-width: 1080px) {
	
	header {
		padding-left: 50px;
		padding-right: 50px;
	}
}