
#loading-outer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	animation: shrink-and-fade .5s forwards;
	animation-delay: 1.9s;
}

#loading-inner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border: solid $white 3px;
	border-radius: 10px;
}

.loading-ring {
	position: absolute;
	width: 150px;
	height: 150px;
	border: solid $green-transparent 3px;
	border-radius: 100%;
	z-index: 10;
	animation: breathe 3s forwards;
    animation-delay: .3s;
    transform: scale(.4);
}

#ring-tl {
	top: 0;
	left: 0;
}

#ring-tr {
	top: 0;
	right: 0;
}

#ring-bl {
	bottom: 0;
	left: 0;
}

#ring-br {
	bottom: 0;
	right: 0;
}

#loading-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid $green 3px;
	border-radius: 100%;
	background-color: $dark-blue;
	font-size: 50px;
	width: 150px;
	height: 150px;
	z-index: 100;
	font-family: Arial, Helvetica, sans-serif;
	color: $white;
}

#loading-logo > span {
  animation: change-color 2s forwards;
}


@keyframes change-color {
  50% {color: $white;}
  100% {color: $green;}
}

@keyframes breathe {
  0% {transform: scale(.4);}
  50% {transform: scale(1.5);}
  100% {transform: scale(.4);}
}

@keyframes shrink-and-fade {
  0% {transform: scale(1);}
  100% {transform: scale(0); display: none;}
}

