.nav-toggle {
	display: none;
}

.nav-toggle-label {
	display: flex;
	align-items: center;
	margin-left: auto;
	z-index: 100;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: $green;
	height: 3px;
	width: 30px;
	border-radius: 2px;
	position: relative;
	text-align: right;
	transition: all .3s;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
	right: 0;
	transition: all .3s;
}

.nav-toggle-label span::before {
	bottom: 10px;
	width: 36px;
}

.nav-toggle-label span::after {
	top: 10px;
	width: 24px;
}

.nav-toggle:checked ~ .nav-toggle-label span {
	transform: rotate(45deg);
	width: 36px;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
	bottom: 0;
	transform: rotate(90deg);
}
.nav-toggle:checked ~ .nav-toggle-label span::after {
	top: 0;
	width: 36px;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 300px;
	background-color: $dark-blue;
	transform: scale(0, 1);
    transform-origin: right;
    transition: transform 100ms ease-in-out, background-color 200ms ease-in-out;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav li {
	margin-bottom: 40px;
}

nav a {
	position: relative;
	font-size: .9rem;
	text-decoration: none;
	color: $white;
	opacity: 0;
}

.nav-link:hover {
	color: $green;
}

.nav-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: $green;
	transition: width 150ms ease-in-out;
}

.nav-link:hover::after {
	width: 100%;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
	background-color: $lighter-blue;
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity .1s ease-in-out .15s;
}


@media only screen and (min-width: 768px) {
	
	.nav-toggle-label {
		display: none;
	}

	nav {
		all: unset;
		display: flex;
		align-items: center;
		margin-left: auto;
	}
	
	nav li {
		display: inline;
		margin-bottom: 0px;
		margin-left: 30px;
	}
	
	nav a {
		opacity: 1;
	}
}
