
header {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
    padding: 20px 0px;
	width: 100%;
	z-index: 100;
	background-color: $dark-blue-transparent;
	transition: top .3s ease-in-out;
}

.hide-header {
	top: -100px;
}

.header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
	min-width: 36px;
	min-height: 36px;
	border: solid $green 2px;
	border-radius: 100%;
	font-size: 15px;
	color: $white;
}

.header-logo:hover {
	background-color: $green-extra-transparent;
}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	right: 30px;
	font-size: 30px;
	height: 100%;
	z-index: 1000;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: $green;
	height: 2px;
	width: 20px;
	border-radius: 2px;
	position: relative;
	text-align: right;
	transition: all .3s;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
	right: 0;
	transition: all .3s;
}

.nav-toggle-label span::before {
	bottom: 8px;
	width: 30px;
}

.nav-toggle-label span::after {
	top: 8px;
	width: 10px;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	height: calc(100vh + 100px);
	width: 300px;
	text-align: center;
	transform: scale(0, 1);
    transform-origin: right;
    transition: transform .1s ease-in-out;
}

nav ul {
	list-style: none;
}

nav li {
	margin-bottom: 40px;
}

nav a {
	position: relative;
	font-size: .9rem;
	text-decoration: none;
	color: $white;
	opacity: 0;
	transition: opacity 1ms ease-in-out;
}

.nav-link:hover {
	color: $green;
}

.nav-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: $green;
	transition: width 150ms ease-in-out;
}

.nav-link:hover::after {
	width: 100%;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
	background-color: $lighter-blue;
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity .1s ease-in-out .1s;
}

.nav-toggle:checked ~ .nav-toggle-label span {
	transform: rotate(45deg);
	width: 30px;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
	bottom: 0;
	transform: rotate(90deg);
}
.nav-toggle:checked ~ .nav-toggle-label span::after {
	top: 0;
	width: 30px;
}

@media only screen and (min-width: 600px) {
	.nav-toggle-label {
		display: none;
	}

	nav {
		all: unset;
		width: 100%;
		text-align: right;
		margin-right: 30px;
	}
	
	nav li {
		display: inline;
		margin-bottom: 0px;
		margin-left: 40px;
	}
	
	nav a {
		opacity: 1;
	}
}
