// section {
// 	max-width: 950px;
// 	margin: auto;
// }

.about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
}

// .about-me h1,
// .about-me h2 {
// 	color: $green;
// 	font-weight: 900;
// }

// .about-me h1 {
// 	font-size: clamp(2rem, 6vw, 5rem);
// }

// .about-me h2 {
// 	font-size: clamp(1.5rem, 3vw, 3.5rem);
// }

// .about-me p {
// 	color: $white;
// 	font-size: 1.2rem;
// 	font-weight: 100;
// 	max-width: 500px;
// 	padding: 10px 0px;
	
// }

// .about-me .button {
// 	font-size: 1.2rem;
// }
