
section {
	max-width: 1100px;
	margin: auto;
}

.about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
}

.about-me p {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: $white;
}

.about-me span {
	font-weight: 600;
	color: $green;
	padding: 0px 10px;
}

.about-me .button {
	font-size: 20px;
}

