@import 'colors';
@import 'buttons';
@import 'loading';
@import 'header';
@import 'navbar';
@import 'section';
@import 'intro';
@import 'about';

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-color: $dark-blue;
	font-family: 'Montserrat', sans-serif;
}

.blur {
	filter: blur(.5rem);
}

#content {
	padding-left: 50px;
	padding-right: 50px;
}

#content-cover {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}





.space {
	height: 1400px;
}




@media only screen and (max-width: 480px) {
	
	#content {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media only screen and (min-width: 1100px) {
	
	#content {
		padding-left: 100px;
		padding-right: 100px;
	}
}