@import 'colors';
@import 'buttons';
@import 'loading';
@import 'header';
@import 'navbar';
@import 'section';

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-color: $dark-blue;
	font-family: 'Montserrat', sans-serif;
}

.blur {
	filter: blur(.5rem);
}

#content-cover {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.space {
	height: 1400px;
}